@charset "UTF-8";
/* CSS Document */

body{
	background-color:#333;
	margin:0;
}

#banner {
	position: absolute;
	width: 300px;
	height: 250px;
	background-color: #fffaf5;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	border: 1px solid #cfdfe1;
	visibility: hidden;
	box-sizing: border-box;
}

#bg_left {
	position: absolute;
	top: 0px;
	left: -150px;
	width: 150px;
	height: 250px;
	background-image: url(images/bg_left.jpg);
}

#bg_right {
	position: absolute;
	top: 0px;
	left: 300px;
	width: 150px;
	height: 250px;
	background-image: url(images/bg_right.jpg);
}

#event_logo {
	position: absolute;
	opacity:0;
	top: 0px;
	left: 0px;
	width: 300px;
	height: 250px;
	background-image: url(images/event_logo.png);
}

#day {
	position: absolute;
	opacity:0;
	top: 0px;
	left: -30px;
	width: 300px;
	height: 250px;
	background-image: url(images/day.png);
}

#time {
	position: absolute;
	opacity:0;
	top: 0px;
	left: 30px;
	width: 300px;
	height: 250px;
	background-image: url(images/time.png);
}

#opening_frame {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 570px;
	height: 250px;
	background-image: url(images/opening_frame.jpg);
}

#player_left {
	position: absolute;
	opacity:0;
	top: 0px;
	left: -70px;
	width: 300px;
	height: 250px;
	background-image: url(images/player_left.png);
}

#player_right {
	position: absolute;
	opacity:0;
	top: 0px;
	left: 70px;
	width: 300px;
	height: 250px;
	background-image: url(images/player_right.png);
}

#team1_name {
	position: absolute;
	opacity:0;
	top: 0px;
	left: -30px;
	width: 300px;
	height: 250px;
	background-image: url(images/team1_name.png);
}

#team2_name {
	position: absolute;
	opacity:0;
	top: 0px;
	left: 30px;
	width: 300px;
	height: 250px;
	background-image: url(images/team2_name.png);
}

