@charset "UTF-8";
/* CSS Document */

body{
	background-color:#333;
	margin:0;
}

#animation{
	visibility: hidden;
}


#players{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 160px;
	height: 600px;
	background: url(images/players.png) no-repeat;
}

#starmask{
		position: absolute;
		left: 0px;
		top: 0px;
		width: 160px;
		height: 600px;
		overflow: hidden;
	}


#star{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 160px;
	height: 600px;
	background: url(images/star.png) no-repeat;
}

#banner {
	position: absolute;
	width: 160px;
	height: 600px;
	background-color: #ffffff;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	border: 1px solid #000000;
	box-sizing: border-box;
}

/* FRAME 1 */

#bg1{
	position: absolute;
	left: -35px;
	top: 0px;
	width: 210px;
	height: 600px;
	background: url(images/bg1.png) no-repeat;
}

#lockup{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 160px;
	height: 600px;
	background: url(images/lockup.jpg) no-repeat;
}



/* ENDFRAME */

#teams_mask {
		position: absolute;
		left: 8px;
		top: 0px;
		width: 160px;
		height: 600px;
		overflow: hidden;
	}


#teams{
	position: absolute;
	left: 0px;
	top: 86px;
	width: 160px;
	height: 68px;
	background: url(images/teams.png) no-repeat;
}

#gotw_mask {
		position: absolute;
		left: 11px;
		width: 160px;
		height: 600px;
		overflow: hidden;
	}

#gotw{
	position: absolute;
	left: 0px;
	top: 155px;
	width: 160px;
	height: 12px;
	background: url(images/gotw.png) no-repeat;
}

#time_mask {
		position: absolute;
		left: 11px;
		width: 160px;
		height: 600px;
		overflow: hidden;
	}

#time{
	position: absolute;
	left: 0px;
	top: 173px;
	width: 160px;
	height: 34px;
	background: url(images/time.png) no-repeat;
}



#lines_left{
	position: absolute;
	left: -300px;
	top: 0px;
	width: 335px;
	height: 600px;
	background: url(images/lines_left.png) no-repeat;
}

#lines_right{
	position: absolute;
	left: 300px;
	top: 0px;
	width: 335px;
	height: 600px;
	background: url(images/lines_right.png) no-repeat;
}

#bg2{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 160px;
	height: 600px;
	background: url(images/bg2.jpg) no-repeat;
}


#faceoff{
	position: absolute;
	left: 100px;
	top: 32px;
	width: 99px;
	height: 62px;
	background: url(images/faceoff.png) no-repeat;
}


#bg3{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 160px;
	height: 600px;
	background: url(images/bg.jpg) no-repeat;
}

#bg4{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 160px;
	height: 600px;
	background: url(images/bg.jpg) no-repeat;
}

#network{
	position: absolute;
	left: 11px;
	top: 208px;
	width: 248px;
	height: 87px;
	background: url(images/network.png) no-repeat;
}


